[2015-05-28 01:05] knynkwl opened #1 "Undefined offset: 1"
[code]

[2015-05-28 07:45] mmikkel commented on #1
Ouch. Thx for reporting, I'll step right on it :)

[2015-05-28 08:11] mmikkel commented on #1
I believe this is now fixed in version 0.1.1. Thanks again for the report.

[2015-05-28 08:11] #1 closed

[2015-06-08 11:55] superflausch opened #2 "Error - Not able to access CP - Trying to get property of non-object"
Since today I get the following error message in the Craft CP.

2015/06/08 11:49:52 [error] [php] Trying to get property of non-object (/......./plugins/reasons/services/ReasonsService.php:147)

I have no clue what I did to provoke it. Last action was to delate a field, which was not setup to use Reasons at all (I have no Rules for Reason at all at the moment).

Also I'm not able to access the CP

[2015-06-08 13:05] mmikkel commented on #2
Thanks for the detailed report - I'll look into it ASAP!

[2015-06-08 14:18] superflausch commented on #2
Thanks a lot.

I think I found the issue for the error. I had a field defined with a custom field-type, where I already uninstalled the corresponding plugin. Therefore I had an invalid field-type setup, which seems to cause the error. Removing the field solved the issue for me.

[2015-06-08 14:25] mmikkel commented on #2
@superflausch, I just pushed v. 0.1.2 – could you check if this resolves your issue?

Unfortunately, I can't reproduce your problem so I'm not entirely sure what would cause it. Are you using any custom fieldtypes?

[2015-06-08 14:27] mmikkel commented on #2
Oh, just noticed your latest comment :D

Right on, thanks for getting back to me – great to know what caused it. The hotfix I just added makes sure it won't happen again.

[2015-06-08 14:27] #2 closed

[2015-06-08 14:31] superflausch commented on #2
Great, thank you very much.

[2015-06-25 23:26] idahotallpaul opened #3 "Checkboxes are not working. Multi-select does not work if multiple items are selected."
I have a list of business categories. Businesses can belong to more than one category, so for example, one business can be a venue and a restaurant. So I need to be able to display additional fields based on each category selected. For example, if "venue" is selected, then display a table field to enter details about the different rooms in the venue. If "restaurant" is selected, display a dropdown

[2015-06-26 12:45] mmikkel commented on #3
Thanks a bunch for reporting! I'll look into your issue ASAP.

[2015-06-26 18:18] idahotallpaul commented on #3
You bet. How far off are you from having categories implemented? That would be the ideal case for me, as categorization of businesses and filtering by those categories of is the ultimate goal.

Thanks.

[2015-06-26 18:58] mmikkel commented on #3
Relational fields (like Categories, Entries, Tags etc.) as "toggle fields" is doable, though it isn't something I've begun implementing or even looked into.

Unfortunately I haven't been able to commit much time to Reasons since making the initial public release (0.1) available. When I do, I'm going to focus on Matrix support (as in Reasons within Matrix) and a few other todos.

I appreciate the f

[2015-08-05 18:39] jacobgraf opened #4 "Matrix Fields"
Would love to see this add-on work with fields within a Matrix field! :-)

[2015-08-08 05:29] chasegiunta commented on #4
+1 For sure! And Super Table :-)

[2015-08-17 17:36] akukral commented on #4
+1 Indeed!

[2015-08-18 12:32] migswd opened #5 "Radio buttons does not work"
Got radio buttons and a field appaearing for a value of that radio button.
But does not appear.
Here screens.
![screen shot 2015-08-18 at 05 32 25](https://cloud.githubusercontent.com/assets/3531623/9329936/8cde8866-456a-11e5-8964-1b3f0f99ced4.jpg)
![screen shot 2015-08-18 at 05 31 35](https://cloud.githubusercontent.com/assets/3531623/9329938/8ce1dff2-456a-11e5-9c45-5c5ca67f16e7.jpg)
![screen sho

[2015-08-18 12:35] migmake commented on #5
Work fine on a lightswitch thats true. But not for radio buttons...

[2015-08-21 06:53] mmikkel commented on #4
Matrix support is in the works. I've been swamped lately, though – can't give an ETA, unfortunately. Thanks for the interest, though!

[2015-08-21 06:54] mmikkel commented on #5
Thank you for the bug report, @migswd. I'll get it sorted ASAP.

[2015-09-20 21:46] #3 closed

[2015-09-20 21:46] #5 closed

[2015-09-20 21:50] mmikkel commented on #3
Hello @idahotallpaul – sorry for the big delay, but this should be sorted now.

Having Reasons check if the multi-select or checkboxes field _includes_ a value would be the wrong behaviour in my opinion, but please note that both Checkboxes and Multi-select fields now render as a multiselect input in the conditionals builder (see http://cly.mmikkel.no/image/392k2U0Q3E0z), making it possible to pro

[2015-09-21 06:21] kaspar-allenbach commented on #4
+1

[2015-09-21 19:15] menberg commented on #4
This would be huge. Matrix with conditionals... imagine!

[2015-09-24 20:21] owldesign opened #7 "Doesn't always show up."
I have a bunch of sections (structure, channel) and I noticed that for some of the the field layout designers the `manage conditionals` options doesn't show. I was trying to track down what could be the reasons but had no luck.

For example I have 2 structure sections `news` and `events` for each I added the same fields in the field layout designer. I was able to get the 'manage conditionals' to s

[2015-09-25 09:16] mmikkel commented on #7
Hello @owldesign, thanks for reporting.

I'm unable to reproduce this. Did you check the console/dev tools in your browser for JS errors? Also, which browser and OS are you using?

[2015-09-25 16:49] owldesign commented on #7
I'm on chrome mac. Here's a gif of whats happening. Notice the first section I click on doesn't even have a toggle field. The second one has toggle field `completed` but the drop down option isn't showing up.

![example](https://cloud.githubusercontent.com/assets/438764/10106604/842643a8-636a-11e5-9f43-80fe2035cbf8.gif)

[2015-09-26 05:54] mmikkel commented on #7
Thanks for the gif, @owldesign! At first I figured "aha, it happens when there are multiple tabs", but no. Still not able to reproduce this.
1. You're positive there are no error messages in the browser console?
2. For the section that doesn't work, can you check if the Reasons JS is loaded? You're looking for a file called `FLD-d9b9c0756b326f51e93f.js`, see http://cly.mmikkel.no/image/0O0d3k2V3o3

[2015-09-28 18:12] owldesign commented on #7
I've tested on other browser. So it does looks like the js isn't being loaded for some sections. I also don't see any errors in the console. I'll email you the dump. Thanks.

[2015-09-28 18:28] mmikkel commented on #7
Excellent – really appreciate the help on this @owldesign.

Its interesting, because regarding JS/CSS resources I actually changed things around a bit for 0.2 – I'm [now using regex patterns](https://github.com/mmikkel/Reasons-Craft/blob/master/reasons/ReasonsPlugin.php#L81) to determine whether any resources should load for any given URL (e.g. any URL having to do with entry type editing should l

[2015-09-28 19:06] owldesign commented on #7
Here you go.

For this url the js loads `http://craft.dev/admin/settings/sections/9/entrytypes/10`
Not for this `http://craft.dev/admin/settings/sections/11/entrytypes/12`

[2015-09-28 19:08] owldesign commented on #7
Oh I think it has something to do with the section id's. When section id 1-9 it works but when it gets into double digits it doesn't!

[2015-09-28 20:21] mmikkel commented on #7
Ah man. Blame me and my child-like regex. Thanks a lot, fixing this ASAP!

[2015-09-28 20:49] mmikkel commented on #7
This should be fixed in 0.2.1. Thanks again @owldesign!

[2015-09-28 20:49] #7 closed

[2015-09-29 19:10] davist11 opened #8 "Conditionally require fields"
It would be really could if you could conditionally require fields that are hidden/shown with Reasons.

[2015-09-29 23:23] mmikkel commented on #8
Hey @davist11, thanks for contributing! Could you explain in a little more detail what you mean by "conditionally require", perhaps with a use case/example? Not sure I follow :)

[2015-09-30 14:55] davist11 commented on #8
Sure! So when you are managing conditionals for each field, it would be great if there was also a way to say "require" this field.

Let's say I have the following fields:
- Include Contact Info (lightswitch)
- Phone Number (plain text)

Then, if I manage the conditionals for phone number, I would say to show this field if **Include Contact Info** is equal to **on**. I would also like to say requir

[2015-09-30 15:01] mmikkel commented on #8
Thanks for the explanation @davist11 – I understand now. I'm not sure how easy it would be to make a non-required field required on the fly, but it could easily be "faked" with jQuery. An alternative (and in my mind, slightly better) approach would be to have the field set as required in the first place, and just "override" the requirement somehow if the field is hidden when the entry is saved – t

[2015-09-30 15:03] davist11 commented on #8
Yup, I forked the plugin and started down the latter approach you listed above during some free time. But then I got busy and didn't get very far!

[2015-09-30 15:05] mmikkel commented on #8
Cool – I _love_ pull requests, so I hope you find the time!

[2015-09-30 15:11] mmikkel commented on #8
The way I'd do this (the second approach, mind you) is probably to add a hidden input field with jQuery to the entry edit form, containing the IDs of any currently hidden fields. When the entry is saved, it'd be easy to pick up those IDs w/ `craft()->request->getPost('reasonsHiddenFields')` or the like in the `onEntrySave` handler. Then you'd just need to figure out a way to make Craft treat those

[2015-09-30 15:18] davist11 commented on #8
Ohh that's smart, didn't even think to approach it that way.

[2015-09-30 15:24] mmikkel commented on #8
I think it's going to be really difficult to override or change the `required` property for the model within the event handler, though. Perhaps the best bet is to give Craft some kind of default dummy value for the fields in question, though that wouldn't be without ramifications. Either that, or you could set the `validateContent` property to false and run your own validation on the required, non

[2015-10-14 10:22] GeorgeD121 opened #9 "Feature Request: Reasons usable in User Fields"
Would it be possible to add functionality to user fields?

It could potentially be very beneficial to keep a slightly more concrete separation of fields between user types than just the groups, as at the moment all users have the same fields in craft so this could allow admins to break fields up slightly.

[2015-10-14 12:37] mmikkel commented on #9
Hello @GeorgeD121 – thanks for contributing. Its possible to do, and the goal is to support all element types eventually. Can't give you an ETA, but I'll label it as an enhancement and will get to it sooner or later :)

[2015-10-15 21:02] Regaez opened #10 "Feature Request: Enable/disable field tabs"
Hey there! Would it be possible to enable/disable an entire field tab based on conditionals?

Thinking about how best to structure some context dependent fields for a site and grouping certain modules by tab and then toggling the tab would be handy.

[2015-11-06 10:08] richhayler opened #11 "Feature Request: Add Support for the "Button Box" field type plugin"
Please could you add support for the "button box" plugin by SuperCoolDesign. Button Box would be a great candidate for this plugin as instead of a boring text toggle (e.g. dropdown, radio button or checkbox) Button Box provides the option to set images in place of radio buttons.

http://plugins.supercooldesign.co.uk/plugin/button-box

[2015-11-06 12:15] mmikkel commented on #11
Hey @richhayler, thanks for contributing. I'll see what I can do!

[2015-11-06 13:07] johndwells opened #12 "Does not work in Live Preview"
I'm using a series of lightswitch fields to toggle the visibility of other text fields, but when I edit in Live Preview mode, they don't work.

[2015-11-06 17:37] mmikkel commented on #12
Thanks for the heads up, @johndwells! I have to admit, I never tested Reasons in Live Preview (rarely use it..) :dancers:

[2015-11-06 17:42] mmikkel commented on #10
For simplicity's sake, Reasons was designed to work on a tab-by-tab basis. Not to rule anything out, but there are quite a few features I'd like to add before looking at this – so don't count on this ever being implemented, sorry :)

[2015-11-08 09:00] mmikkel opened #13 "Conditionals are cleared when fields are reordered in the FLD"
Only happens when the conditionals have not been saved to the DB.

[2015-11-08 09:02] mmikkel opened #14 "Add Craft 2.5 support"
Reasons is markup dependent – the CP has been redesigned for Craft 2.5 and Reasons currently does not work on 2.5 builds.

[2015-11-08 11:47] mmikkel opened #15 "Conditionals are not reevaluated/refreshed when a field is removed from a tab"

[2015-11-09 18:43] akukral opened #16 "Text field trigger"
Is it possible to use a text field to trigger the display of another field via regular expression? I.E. Heading field contains /.*/ then show a subheading field.

[2015-11-09 21:59] mmikkel commented on #16
Hello @akukral, thanks for contributing!

You can use Plain Text fields as triggers (toggle fields), but not with regular expressions matching. Unfortunately, it's not likely that this is a feature I will ever add, sorry.

However, if you just want to hide/show a field based on whether a Plain Text field is empty or not, that's easy: First select the Plain Text field (i.e. your Heading field) as t

[2015-11-09 21:59] #16 closed

[2015-11-18 18:17] jonorherrington commented on #14
+1

[2015-11-24 17:13] shealan commented on #14
Please +1

[2015-11-24 17:58] mmikkel commented on #14
Thanks for your interest, guys.

2.5 support (and some other fixes and additional features) is incoming, some time this week. Scout's honor!

[2015-11-24 18:07] shealan commented on #14
Fantastic! I would pay proper money to get this working inside matrix and supertable fields. Do you think this is possible or just an amazing dream?

[2015-11-25 13:52] mildlygeeky commented on #14
I'd also be willing to sponsor development of it working in Matrix and SuperTable - love this plugin!

[2015-11-29 16:25] vonsio commented on #14
Yeah I would pay as well a little for this plugin! Keep up the good work :+1:

[2015-11-29 16:28] shealan commented on #14
Looks like we have a movement here. I would suggest @mmikkel consider releasing a commercial version?

![shut-up-and-take-my-money](https://cloud.githubusercontent.com/assets/74932/11458387/d2e39b74-96b6-11e5-817d-7ec5419216d1.jpg)

[2015-11-29 23:19] mmikkel commented on #12
Fixed in 0.2.2. Thanks for reporting!

[2015-11-29 23:19] #12 closed

[2015-11-29 23:19] mmikkel commented on #15
Fixed in 0.2.2.

[2015-11-29 23:19] #15 closed

[2015-11-29 23:19] mmikkel commented on #13
Fixed in 0.2.2.

[2015-11-29 23:19] #13 closed

[2015-11-29 23:31] mmikkel commented on #14
Again – thanks a lot for your interest in Reasons!

Apologize for keeping folks waiting, but I finally pushed 0.2.2 which should work in Craft 2.5.

Honestly, the actual 2.5 fix was really quite simple – the reason this took a while was that I've been working on adding support for all native element types (Categories, Assets, Tags, Global Sets, Users) and I really wanted to have that in for the 2.

[2015-11-29 23:31] #14 closed

[2015-11-29 23:32] mmikkel commented on #9
This is in development (as well as support for all the other native element types). I hope to have it out some time in December.

[2015-11-30 09:52] mmikkel opened #17 "Support all native element types"
Reasons currently only works with Entries. The goal is to support all built-in element types, i.e. Entries, Assets, Categories, Tags, Global Sets and User.

[2015-11-30 09:53] mmikkel opened #18 "Support for element editing"
Reasons doesn't currently work when editing entries inline – i.e. when double clicking on an entry in an index table.

[2015-11-30 18:00] GeorgeD121 commented on #9
Awesome!

[2016-01-18 21:36] mmikkel commented on #18
Reasons now works for all native element editor modals (since 1.0).

[2016-01-18 21:36] #18 closed

[2016-01-18 21:37] mmikkel commented on #17
Reasons now supports all native element types (since 1.0).

[2016-01-18 21:37] #17 closed

[2016-01-18 21:38] mmikkel commented on #9
Reasons now works for User fields (as well as all other native element types) – check out version 1.0.

[2016-01-18 21:38] #9 closed

[2016-01-19 00:28] mmikkel opened #19 "Pimp My Matrix conflict causes issues with Field Layout Designer"
There seems to be an issue where Reasons and the Pimp My Matrix plugin collide, causing the "Manage conditionals" option to not always appear inside the Field Layout Designer.

[2016-01-20 11:56] GeorgeD121 commented on #9
Awesome, thank you for the update. I'm just looking now, would it be
possible to make the user group a conditional? So only show this field if
they belong to a certain group?

On Mon, Jan 18, 2016 at 9:38 PM, M. Mikkel Rummelhoff <
notifications@github.com> wrote:

[2016-01-20 12:15] mmikkel commented on #9
Hey @GeorgeD121, it's not possible currently and it's not really something Reasons was designed to do (i.e. add conditionals not based on a "toggle" field's value). It'd definitely be useful, though, so I'll give it a thought and try to come up with a solution.

Pertaining to users, though, there are multiple possible nice-to-haves. For one, it'd be nice to be able to have a field only display on

[2016-01-20 12:25] GeorgeD121 commented on #9
Hey,

You're exactly right on what I was requesting, "For one, it'd be nice to be
able to have a field only display on a user's profile if that particular
user was in a certain user group (this is what I think you're requesting?)".

The display if current user is a certain user group, would be awesome. It
could come in handy in so many cases, especially for restricting clients
within entries in th

[2016-01-20 12:26] mmikkel commented on #9
Thanks for the nice words, @GeorgeD121 – much appreciated. I'll think this through a bit and will update this issue if I decide to do something about it one way or the other :)

[2016-01-20 16:59] chasegiunta commented on #9
Just want to add a little +1 to this... I manage a site with multiple user groups, where there are massive amounts of different fields for each user group. It's quite the headache to figure out which fields belong to which type of user, not to mention, easily figuring which type (user group) of user you're currently viewing. As a workaround, Lindsey Diloretto's `craft-cpusergroup` plugin has the c

[2016-01-21 12:18] mmikkel commented on #9
Appreciate the input, @ChaseGiunta – I'm aware of Lindsey's plugin though I agree that hiding/displaying fields according to user groups could probably be nicely solved with Reasons. No promises, but I'm definitely considering viable ways to do this :)

[2016-01-26 11:38] mmikkel opened #20 "Implement User Group specific conditionals"
It'd be great if it was possible to create conditionals for specific fields based on a) the currently logged in user's user group(s) and b) the user group(s) for the User element being edited.

[2016-01-27 08:54] lexbi opened #21 "Feature request - entries field"
Hey mmikkel,

Great plugin, though would be really useful if entries field was available. Example: Show this field if entry 43 is selected (or one of it's children).

[2016-01-27 10:39] mmikkel commented on #21
Hello @lexbi, thanks for the nice words and input.

I definitely see the use case for relational fields (Entries, Categories, Tags, Assets and Users), and I've been thinking about it. It could be solved quite nicely by using a "Add entry" button (which would fire up an element selector modal, identical to the way the Entries field works inside an editing form) for the toggle fields' value inside t

[2016-02-01 22:51] idahotallpaul commented on #20
+1. Just got off the phone with a client requesting inputs be hidden based on user group. Is this in the pipeline? ETA?

Thanks.

[2016-02-01 22:56] mmikkel commented on #20
Hi @idahotallpaul – currently it's a feature I'd like to add, nothing more. It's not super difficult to do, so I'd say the chances of it happening are pretty good. Unfortunately I can't give you an ETA, but if it happens it's probably going to be a good month or two, as I've got a lot of client work right now. Sorry for not being more specific, but I'd really like to avoid promising a thing and th

[2016-02-01 22:57] idahotallpaul commented on #20
Roger that! Thanks!

[2016-02-01 23:01] mmikkel commented on #20
If you need something like this right now, I'd suggest taking a look at Lindsey DiLoreto's [CP User Group plugin](https://github.com/lindseydiloreto/craft-cpusergroup), which will add classnames based on user groups to the `<body>` tag – making it possible to use CSS to hide certain fields for certain user groups.

[2016-02-08 19:21] mmikkel commented on #19
Can't replicate this. Closing for now.

[2016-02-08 19:21] #19 closed

[2016-02-24 10:42] joepagan commented on #21
Haha, cheers for getting back to me, yeah I can certainly see how tricky it could get. I think only in some cases I've wanted to show some fields only if a particular entry has been selected in an entries field, but, mostly I just want to show some more if it's populated at all. Another similar one: if an assets field is populated...

I'm sure you've got loads of ideas and I'm just re-going over t

[2016-02-24 11:03] mmikkel commented on #21
Hey @lexbi – actually, enabling all fieldtypes (including relational ones like Entries) to at least have conditionals based on a null/not null value isn't such a bad idea, and should be fairly easy to implement (Matrix may be the exception, though...). Thanks for the idea!

[2016-02-24 11:07] joepagan commented on #21
Ooo that would be awesome if it's not too difficult!

Regarding the matrix thing, maybe if the matrix field has more than 1 row? I haven't really delved into plugin development that much so can't help you with that. sry :(

[2016-02-24 14:51] theskyfloor commented on #21
I would love that the null/not null value check - could have used that on a date field just this week!

[2016-02-29 12:44] richhayler commented on #11
Would love to see this feature implemented. Seems like a great combination.

[2016-03-02 12:22] stiekstra commented on #12
It seems this issue has returned in version 1.0.2. Toggling a lightswitch in Live Preview doesn't toggle the visibility of other field.

[2016-03-02 18:33] mmikkel commented on #12
Hey @stiekstra, thanks for reporting! This is unfortunate, I'm on it.

[2016-03-02 19:09] mmikkel commented on #12
Hi @stiekstra, this issue should now be resolved with v. 1.0.3. Thanks again for reporting, and sorry for the inconvenience!

[2016-03-02 20:28] stiekstra commented on #12
Works like a charm. Thanks @mmikkel!

[2016-04-21 18:00] khalwat commented on #20
This would be really useful.

[2016-04-21 18:05] cballenar opened #22 "Feature request: Enable if X field has content"
Great plugin but for some reason this feature seemed like a no brainer to me. Give the ability to use any field as a toggle field if it has content.

Example:
- If field _Cover Image_ has an image selected, activate the fields _Highlight_, and _Select Crop Ratio_.
- The option in the conditional dropdown would be "Is empty / Has content" or something alike.

Anyone working on this or something lik

[2016-04-21 21:21] cballenar commented on #22
Nevermind... I was talking out of my butt and I'm completely lost as to how to do this... :P

[2016-04-21 22:15] mmikkel commented on #22
Hi @cballenar, thanks for contributing! The feature you're asking for would be a good one – it's actually been brought up before, check out issue #21.

It'll probably happen at some point, but as with most things feature request-y, I'm hesitant to actually give any kind of ETA :)

[2016-04-21 22:22] cballenar commented on #22
Oh, nice. I didn't see that.

I completely get what you're saying. I'll look over the code a little more and if I make any progress I'll be sharing it here.

Thanks!

[2016-04-27 17:47] josephbergdoll commented on #4
+1

[2016-05-10 00:21] benjamminf opened #23 "Fields in Matrix blocks getting hidden"
Situation: Matrix block has a field with handle `fieldHandle`. There's some other global field that also has the handle `fieldHandle`. The Matrix field and global field are added to the same field layout tab. Reason rules added to the global `fieldHandle` field will also affect the `fieldHandle` field in the Matrix block.

Pretty edge-casey and trivial to work around but thought I'd report it anyw

[2016-05-18 08:11] mmikkel commented on #23
Ouch, thanks for the report @benjamminf, and sorry for the late reply. Sounds easy enough to fix – will get to it shorty :)

[2016-05-25 14:40] mmikkel commented on #23
Should be fixed in v. 1.0.4. Sorry for the delay, @benjamminf.

[2016-05-25 14:40] #23 closed

[2016-06-15 09:53] zizther opened #24 "Support Solspace Calendar plugin"
Solspace have released a Calendar plugin.

The way it works is it has its own field type selector, by default this does not have the option to have Reasons in a fields option.

[2016-06-17 08:51] mmikkel commented on #24
Thanks for contributing, @zizther! No promises, but I'll see what I can do :)

[2016-06-20 10:46] billythekid opened #25 "Keyboard Toggle"
Navigating to a lightswitch field which holds a rule by using tab, then hitting space to toggle the switch doesn't action the view conditions. I presume an event listener isn't firing.

[2016-06-20 12:51] mmikkel commented on #25
Thanks for reporting, @billythekid – I'll investigate ASAP.

[2016-06-21 14:12] lboaretto commented on #8
I needed to do the same thing... Validate a field only if it was selected via Lightswitch (on/off).

I had to leave the field open without validation, but would like to see it working. Someone already did it work?

[2016-07-06 15:41] mmikkel commented on #24
Hello @zizther – full support for Solspace Calendar Events and the Solspace Calendar Events fieldtype just landed with [v.1.0.5](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.5).

The fieldtype conditional is a simple empty/not empty statement; same as the rest of the stock relational fieldtypes (Entries, Assets etc).

Let me know if you have any additional input or requests, and tha

[2016-07-06 15:41] #24 closed

[2016-07-06 15:44] mmikkel commented on #22
Hello @cballenar – it took a while, but [Reasons 1.0.5](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.5) adds all built-in relational fieldtypes (Entries, Assets, Categories, Tags and Users) as toggle fields, with simple empty/not empty statements. Hope it proves useful to you!

[2016-07-06 15:44] #22 closed

[2016-07-06 15:46] mmikkel commented on #21
[Reasons 1.0.5](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.5) adds all built-in relational fieldtypes (Entries, Assets, Categories, Tags and Users) as toggle fields, with simple empty/not empty (or null, not null) statements. I'm closing this issue as it's unlikely that I'll ever add _complex_ conditionals to relational fields (i.e. _display this field if entry ID 4546 is selected

[2016-07-06 15:46] #21 closed

[2016-07-06 17:17] joepagan commented on #21
Awesome I'll give it a go, thanks for putting the work in 👍

[2016-07-06 17:37] zizther commented on #24
Amazing. Thanks fir the effort.
Looking forward to having this useful feature.

N
On 6 Jul 2016 4:41 p.m., "M. Mikkel Rummelhoff" notifications@github.com
wrote:

[2016-07-06 22:49] cballenar commented on #22
Awesome! Thanks a lot! I'll try it out asap

[2016-07-07 20:16] gazsp opened #26 "Doesn't work with Craft Commerce"
Is it possible to get this working with Craft Commerce?

The 'Manage conditionals' menu item doesn't show up when customising fields in Product Types in the  Commerce plugin.

[2016-07-07 21:43] sammorrisdesign-zz commented on #4
+1 Would be perfect for the project we're working on now

[2016-07-08 06:55] mmikkel commented on #26
Hello @gazsp, thanks for contributing. It's probably possible, though I couldn't give you an ETA.

[2016-07-08 09:07] gazsp commented on #26
No worries. If you point me in the direction of where to look in the source (if you know of the top of your head), I might be able to sort it myself and do a PR.

If not, I'll keep watching the issue.

Thanks!

[2016-07-10 07:33] mmikkel commented on #26
Hello @gazsp – so I did a little digging. The problem with Commerce is _variants_; essentially, Commerce products (can) have two field layouts at once, which Reasons isn't designed for – meaning I'll either have to refactor parts of the code, or write a custom Commerce handler. Also, variants work sort of like Matrix, which is also a problem currently. Not saying it's not going to happen, but it's

[2016-07-10 09:12] mmikkel commented on #25
Fixed in version [1.0.6](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.6). Thanks for reporting!

[2016-07-10 09:12] #25 closed

[2016-07-10 09:13] mmikkel commented on #11
Well it took me a good while, but full support for the Button Box fieldtypes is in version [1.0.6](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.6). Thanks for contributing!

[2016-07-10 09:13] #11 closed

[2016-07-18 10:18] gazsp commented on #26
@mmikkel Cool, thanks for the info - sounds like a decent chunk of work.

I might have a look when I get some time, but it sounds like you'd be able to sort it more easily than me.

[2016-07-27 09:00] samlous opened #27 "Required fields"
It would be great if I could make fields required that uses Reason. So when the hidden field would be visible, it would be required and when the field is hidden it would not.

[2016-07-27 22:34] mmikkel commented on #27
Hello @samlous – thanks a lot for contributing! I agree that this would be a really nice feature – [there's actually already a feature request for the same thing](https://github.com/mmikkel/Reasons-Craft/issues/8) – although I'm not sure if its feasible to do. Required fields are a fairly "low level" feature in Craft, and it won't be easy/possible to override just because the field is visually hid

[2016-07-27 23:28] benjamminf commented on #27
Maybe fields could be filled with blank/dummy data if they're hidden and required? Might be difficult for certain field types though. Also, feels pretty hacky.

[2016-07-27 23:54] mmikkel commented on #27
@benjamminf Yeah, I've thought about that. Doesn't really seem like a clean solution to me, and I'd much rather have Reasons not support required fields at all than to do something like that. Thanks for the input, though. There might be a way to override the "required" attribute, but I don't think so :(

[2016-07-28 00:01] mmikkel commented on #27
One really _insane_ way to achieve it, would be to use jQuery to change the `action` input value in the editing forms to a Reasons controller action, which would

1) Disable the `required` attribute for any hidden fields using a custom SQL query (see http://craftcms.stackexchange.com/a/13026/1098)
2) Save the element (i.e. perform the default controller action)
3) Re-enable the `required` attribut

[2016-07-28 00:24] benjamminf commented on #27
That's... wow. Haha I wouldn't even be mad if you pulled that off, just impressed.

I had a quick look into it and I _think_ you could do it a little cleaner. When using the field service to grab a field layout, the layouts are memoized. You could exploit this during an `onBeforeElementSave` event to grab the field layout, and modify the fields on the layout to remove the relevant required attribu

[2016-07-28 07:05] samlous commented on #4
When using the plugin "NEO", it is possible to use Reasons in a Matrix 👯
Maybe a good alternative while the feature is nog yet available.

[2016-07-28 17:26] mmikkel commented on #27
That's a very interesting idea! I think both solutions are pretty ridiculous - the field layout one is perhaps simpler, and doesn't involve writing to the database, which is a plus. On the other hand, I agree that it does feel like more of an exploit and is more likely to break in the future.

Either way, I'm not convinced that the feature is even worth the effort and added complexity that would b

[2016-07-29 01:16] benjamminf commented on #27
No problem, it was fun to think about. But I agree, unless there's some actual supported hooks provided by Craft it's probably not worth it.

[2016-08-30 09:48] madebyshape commented on #26
+1 for this problem.

It's a shame Commerce doesn't use the same field layout structure as it does normally.

[2016-08-30 10:08] mmikkel commented on #26
Yeah – as stated previously I'd love to add Matrix and Commerce support, but I just haven't been able to find the time thus far :)

[2016-08-30 10:46] madebyshape commented on #26
Yeah, I can wait really, I know the feeling of finding time! I'm not pushing :)

[2016-09-09 00:41] mmikkel opened #28 "Doesnt work with drafts"

[2016-09-16 03:43] artmem opened #29 "Asset field not triggering Reasons inside Neo blocks"
I'm using reasons in a neo field. I have an asset field, and then a caption field that is set to show when the asset field is not empty, but it isn't working. The field remains hidden, whether or not the asset field is in use.

When I first tried to set it up, I couldn't -- it said there were no toggle fields. I then added a lightswitch to my field layout, and then I was able to set up the conditi

[2016-09-16 07:39] mmikkel commented on #29
Hi @artmem, thanks for contributing! Unfortunately, I'm not able to reproduce your issue (I've tested with an Assets field + a PlainText field, both in a regular Entries field layout and inside a Neo block). I've got some follow-up questions for you, though:

Which versions of Reasons and Neo are you currently running?
Are you seeing any JavaScript errors in your browser's dev tools console?
Which

[2016-09-16 08:46] mmikkel commented on #29
Scratch that, I am seeing an issue with Assets (probably all relational fields/element selects) inside Neo blocks. It appears to be isolated to Neo, though – not seeing any issues with Assets fields in regular field layouts.

[2016-09-16 23:32] benjamminf commented on #29
I think it's fair to say this is a bug with Neo. I'm looking into it right now...

[2016-09-17 01:53] benjamminf commented on #29
Okay so I've determined the problem, and have come up with a working solution in Neo. Will be fixed in the next release :+1:

[2016-09-17 07:17] mmikkel commented on #29
Awesome, @benjamminf – thanks a lot!

[2016-09-20 11:25] stephanedemotte commented on #29
@benjamminf do you have a release date for the fix ?
Thanks you !

[2016-09-20 11:47] benjamminf commented on #29
No worries @stephanedemotte - new version of Neo will very likely be released by the end of the week

[2016-09-20 12:36] stephanedemotte commented on #29
Great thanks !

[2016-10-07 16:30] artmem commented on #29
@benjamminf is that neo update still coming?

[2016-10-30 06:41] benjamminf commented on #29
Cue to over a month later.

It's "released" - you can grab a copy from the master branch. This ended up being a pretty large update - I'm still testing everything thoroughly though so I haven't created a proper release for it yet. That'll happen over the coming days probably.

[2016-10-30 06:42] benjamminf commented on #29
@mmikkel Feel free to close this now 👍

[2016-11-09 09:11] swixpop opened #30 "Using AND conditional not triggering show hide"
Here is my setup:
Lightswitch 1
--Text field (show if Lightswitch 1 is on) works as expected
--Lightswitch 2 (show if Lightswitch 2 is on) works as expected
--Number field (show if Lightswitch 1 is on AND Lightswitch 2 is on) doesn't work

If I turn on Lightswitch 1 and Lightswitch 2 is in the off state the Number field doesn't show (good). I turn on Lightswitch 2 and the Number field still doesn'

[2016-11-09 22:22] mmikkel commented on #30
Thanks for contributing @swixpop! Sounds like a bug. I'll take a look at it ASAP.

[2016-11-19 15:10] mmikkel commented on #30
Hi @swixpop – this should be fixed in [v. 1.0.8](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.8). Thanks for reporting!

[2016-11-19 15:10] #30 closed

[2016-11-19 15:10] #29 closed

[2017-01-04 21:03] tofirius opened #31 "Support for the Charge plugin [Feature Request]"
In Charge Pro, a user is allowed to use custom Craft fields within the [Charge plugin](http://squarebit.co.uk/software/craft/charge/usage/features/fields)

`CP->Charge->Settings->Fields`

It would be helpful to have Reason flow into that Fields section of Charge to allow for conditional validation. Thanks so much!

[2017-01-30 14:51] joepagan commented on #4
Indeed this would be ace! Any updates now we're in 2017?

[2017-02-16 17:40] zizther opened #32 "Support for Solspace Calendar 1.8.0"
It appears something has changed and Reasons no longer works with the latest version of Solspace Calendar (1.8.0 as of writing).

[2017-02-26 22:22] Kashkin opened #33 "Use preparse as toggle field"
Would it be possible to use [Preparse](https://github.com/aelvan/Preparse-Field-Craft) as a toggle field? I realise it may only show fields after a save, but I can still think of use-cases.

[2017-03-06 14:20] Nav33d opened #34 "Add my own element type?"
Hi,

Is it possible to add my own element types to Reasons?

Many thanks

[2017-03-30 16:15] TomDeSmet opened #35 "Add third statement for checkboxes "is selected" not the same as "is equal to""
If you have a checkbox field and you want another field to be visible based on the selected criteria, there should be a third statement "is selected".

Because now with the "equal to" statement, you have to add a conditional for every possible combination of checkboxes selected. Which obviously is a no go when you have more than 3 checkboxes and when there's a possibility in the future you might a

[2017-05-16 04:04] yananym opened #36 "Category condition: only allows to pick "not empty" instead of actual category"
Hi!

Thank you, very useful plugin!
I am trying to show a specific field for entries with system category "Team", but i have other system categories.
The condition only  lets me select "System Category" "equals to" "not empty".
But i would like to select "Team". Is there a way to do that or would that have to be a feature request?

Thanks!

[2017-06-14 03:32] darren131 commented on #32
Any updates on this... Not seeing any of the condition options on the Calendars field set up section...
https://www.dropbox.com/s/9j87bwjpxpcnnkf/Screenshot%202017-06-14%2015.32.16.png?dl=0

[2017-06-23 17:58] mmikkel commented on #35
Hi @TomDeSmet – thank you for contributing, and sorry for the late reply. Unfortunately, I've recently [decided to end development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3), so any new features or changes to current features won't happen.

[2017-06-23 17:58] #35 closed

[2017-06-23 17:58] mmikkel commented on #36
Hi @yananym – thank you for contributing, and sorry for the late reply. Unfortunately, I've recently [decided to end development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3), so any new features or changes to current features won't happen.

[2017-06-23 17:58] #36 closed

[2017-06-23 17:58] mmikkel commented on #34
Hi @Nav33d – thank you for contributing, and sorry for the late reply. Unfortunately, I've recently [decided to end development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3), so any new features or changes to current features won't happen.

[2017-06-23 17:58] #34 closed

[2017-06-23 18:00] mmikkel commented on #33
Hi @Kashkin – thanks you for contributing, and sorry for the late reply. Nope, Preparse won't work with the current version of Reasons. Unfortunately, I've recently [decided to end development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3), so any new features or changes to current features won't happen.

[2017-06-23 18:00] #33 closed

[2017-06-23 18:01] mmikkel commented on #32
Hi @zizther and @darren131 – I haven't investigated this one yet, but I think this is worth fixing, even if I've [officially ended development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3). Hopefully it's a minor thing to mend – look for a patch fairly soon :)

[2017-06-23 18:01] mmikkel commented on #31
Hi @tofirius – thank you for contributing, and sorry for the late reply. Unfortunately, I've recently [decided to end development on Reasons](https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3), so any new features or changes to current features won't happen.

[2017-06-23 18:01] #31 closed

[2017-06-23 18:02] #27 closed

[2017-06-23 18:02] #26 closed

[2017-06-23 18:02] #20 closed

[2017-06-23 18:02] #10 closed

[2017-06-23 18:03] #8 closed

[2017-06-23 18:03] #4 closed

[2017-06-24 04:07] evanwarner opened #37 "Leaking data on login screen"
Just like mmikkel/CpSortableCustomColumns-Craft#11 which I just opened, this plugin also dumps a big JSON string to the DOM, but doesn't check to make sure a CP user is logged in.

Anonymous users can hit the login screen and see all the admin data Reasons uses. This plugin reveals even more info than the Sortable Columns plugin though, showing all the settings on each field.

[2017-06-26 20:43] mmikkel commented on #37
Hi @evanwarner – thanks for contributing. Good catch, easy fix – download [Reasons v. 1.0.9](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.9) for a leakage free experience.

[2017-06-26 20:43] #37 closed

[2017-06-26 20:45] mmikkel commented on #32
Hi @zizther and @darren131 – turns out Solspace redesigned their Calendar plugin in v. 1.7.0 to have individual field layouts for each calendar, whereas it used a single one (similar to how Users work in Craft proper) in earlier versions. No wonder it broke (and as early as 1.7.0, not 1.8.0).

In any case, [Reasons v. 1.0.9 ](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.9)should hav

[2017-06-26 20:45] #32 closed

[2017-06-26 20:55] mmikkel commented on #28
Fixed in [Reasons v. 1.0.10](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.10)

[2017-06-26 20:55] #28 closed

[2017-06-27 09:43] zizther commented on #32
@mmikkel appreciate the support on this one, being that Reasons has retired.
This is very helpful and allows me to keep things looking good when working with Calendar.

Thanks again!

[2017-06-27 09:47] mmikkel commented on #32
@zizther I appreciate that, thanks. Actually the memo should read "_active_ development is retired" – I'll continue fixing current functionality if it breaks for as long as its feasible. I do use Reasons in Craft 2 builds myself, so it should/needs to keep working for the duration of 2's lifespan (the big caveat being if the CP should receive another big redesign, but I'm guessing that won't happe

[2018-02-01 11:00] Moorst opened #38 "Reasons support with the latest version of Craft 2 (2.6.3007)"
Since updating to the latest version of Craft, reasons has stopped working. All the fields that previously had conditions set are now showing by default and editing the section field layout the option to add conditionals isn't there.

[2018-02-02 19:17] EtienneTLM commented on #38
Same for me :(

[2018-02-02 19:41] theskyfloor commented on #38
The version of jQuery used in control panel changed... Are there any errors in the browser console?

[2018-02-05 15:01] zzseba78 opened #39 "Any alternative to Reasons?"
Since Reasons stop active development and doesn´t work with current version, any alternative?

[2018-02-06 03:00] kblizeck commented on #38
No errors in the console :(

[2018-02-06 10:24] mmikkel commented on #38
Hey, thanks for the heads up @Moorst – I'll look into it ASAP.

[2018-02-06 10:26] mmikkel commented on #39
@zzseba78 I'm aware that Reasons doesn't work w/ the latest version of Craft 2.x; ideally I want it to keep working for the duration of Craft 2's lifespan so I'm looking into it.

Don't think there's any alternative to Reasons, but P&T did promise that field layout conditionals would make it into core at some point...

[2018-02-06 10:50] mmikkel commented on #38
@Moorst @EtienneTLM @theskyfloor @kblizeck

Just published [Reasons 1.0.11](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.11) – everything works fine in Craft 2.6.3007 on my end now; if anyone can test this release and let me know if it fixes your issues, that'd be great :)

[2018-02-06 10:51] mmikkel commented on #39
Hey @zzseba78 – I just published [Reasons 1.0.11](https://github.com/mmikkel/Reasons-Craft/releases/tag/v.1.0.11) and everything works fine in Craft 2.6.3007 on my end now; if you can test this release and let me know if it fixes your issues, that'd be great :)

[2018-02-06 13:19] EtienneTLM commented on #38
Everything seem to be ok for my part with the update to 1.0.11. Thank you very much!

[2018-02-06 13:19] mmikkel commented on #38
Awesome, thanks for the reply @EtienneTLM.

[2018-02-06 13:57] Moorst commented on #38
Apologies for the delayed response. The plugin is now working fine for me too, Thanks @mmikkel!

[2018-02-06 14:48] kblizeck commented on #38
Thanks @mmikkel - everything's working great!

[2018-02-06 14:48] mmikkel commented on #38
Thanks everyone for replying!

[2018-02-06 14:48] #38 closed

[2018-02-06 14:49] #39 closed

[2018-03-01 13:11] steveooo9 opened #40 "Flickering bug when using inside fieldtype layout of a Neo field"
Since the newest version, things start to flicker when inside a Neo field.
Inside other fields, it seems to work so there is probably some JavaScript issue.

[2018-03-04 08:48] mmikkel commented on #40
Hi @steveooo9, thanks for contributing!

This is probably something that needs to be fixed in Neo, not Reasons, so I suggest creating an issue over at the Neo repo.

[2018-03-04 08:48] #40 closed

[2018-03-09 16:32] jmalley opened #41 "When editing an entry in-line, triggering an error un-hides all hidden fields"
Version 1.0.11: This may be a bit of an edge case, but it confused my users.

We have a page with an "Entry" field type that lets users select entries that should show up on that page. They often make use of the ability to quick-edit those selected entries when they add them. If they do something that triggers an error (leaving a required field blank, for example), when the edit box refreshes with

[2019-02-05 23:54] lindseydiloreto opened #42 "No conditional fields in Craft for at least another year (or more)"
According to [this slide](https://speakerdeck.com/brandonkelly/future-of-craft?slide=24), Craft won't support conditional fields until Craft 4. At this moment in time, Craft 3.1 has just been released, and Craft 4 is _at least_ a year away. Taking into account that most software ships later than expected, it's fully possible that Craft 4 won't ship for another 18 - 24 months.

Would you consider r

[2019-02-06 12:26] mmikkel commented on #42
Hi @lindseydiloreto – yeah, the conditionals stuff and other field layout improvements being pushed to Craft 4 was, honestly, both unexpected and quite disappointing, especially since I've been determined since 2017 to **not** port Reasons due to this feature being slated for 3.x 🙄

I do appreciate the interest in this plugin, and you know – never say never – but for my own sanity's sake I'm not g

[2019-02-11 22:42] lindseydiloreto commented on #42
Bummer. I'm also swamped, or I'd definitely consider doing it myself.

Fingers crossed somebody takes on this challenge! 🤞

[2019-03-08 09:30] maddyBoy opened #43 "Add Craft cms 3.x support."
Is there any planning to upgrade this plugin for craft cms3.x ?

Thank you.

[2019-03-08 13:59] mmikkel commented on #43
Hi @maddyBoy – no plans currently, sorry. Field layout conditionals in core was planned for Craft 3.2, but was recently pushed to Craft 4 (ETA sometime in 2020).

Also see https://github.com/mmikkel/Reasons-Craft/wiki/Statement-on-Reasons-2,-Matrix-and-Craft-3

[2019-03-08 13:59] #43 closed

[2019-06-16 01:34] bwatabu opened #44 "No Toggle Fields available"
Craft CMS 3.1.30
Conditions 1.0.3

After adding a Lightswitch field ("Extended Layout" is the Lightswitch in my screenshot. Other fields are Matrix and Redactor), I am unable to add Rules in the pop-up window when clicking the "Edit Conditionals" link. The message says "No toggle Fields available". Any solutions?

<img width="604" alt="Screen Shot 2019-06-15 at 3 28 24 PM" src="https://user-images

[2019-06-16 07:54] mmikkel commented on #44
Hi @bwatabu, this is the repo for the Craft 2 plugin Reasons – [Conditions](https://github.com/MilkshakeStudio/craft-conditions) for Craft 3 is a different plugin, which I'm not involved in.

[2019-06-16 07:54] #44 closed

[2019-06-16 07:57] #41 closed

[2019-07-17 09:58] outline4 commented on #42
Please! Please! Please!

[2019-07-17 15:02] missmatsuko commented on #42
There's a Craft 3 plugin called Conditions which seems to be based on Reasons and adds the same functionality:
https://plugins.craftcms.com/conditions

[2019-07-18 14:11] outline4 commented on #42
Hi, I already saw this, but it does not seem to be stable…

[2019-07-23 20:44] mmikkel commented on #42
Sorry @outline4 – at this point, I will definitely not port Reasons to Craft 3.

[2019-07-23 21:09] lindseydiloreto commented on #42
An unfortunate, but understandable position @mmikkel.

Thanks for building such an awesome plugin in the first place! 🍺

[2019-07-23 21:09] #42 closed

[2020-06-03 01:02] mmikkel commented on #42
@lindseydiloreto Surprise! I wasn't gonna do it, but [then I did](https://github.com/mmikkel/Reasons-Craft3).

[2020-06-03 21:13] lindseydiloreto commented on #42
![awesome-min](https://user-images.githubusercontent.com/5309692/83688904-f57b3980-a5a2-11ea-9234-8bfda99c6549.gif)

Whaaaaa??? That's amazing, better late than never! Good timing, in fact... there was just some chatter on Discord that C4 may be delayed even further.

@mmikkel Thanks for taking the time and effort to port this over to C3 (and keeping it free)! 🍺

[2020-06-04 09:56] mmikkel commented on #42
@lindseydiloreto Yeah, I mostly decided to finally bring it over to make it easier to upgrade some Craft 2 sites. I guess a lot of people have already upgraded most of their Craft 2 sites to Craft 3, and have found workarounds in lieu of Reasons... so I don't expect to see a huge popularity for it at this point, which is totally fine :)

As stated in the readme, I'd actually also recommend not usi

[2020-09-21 22:16] wallacio opened #45 "Integrity constraint validation with project config"
I've spent a while trying to debug why a deployment has been failing. My site uses project-config.

Craft: 3.5.11.1
Reasons: 2.2.1
DB Engine: MySQL

Steps to reproduce:
- git pull of my project, which contains project config
- composer install
- craft setup

The final part of craft setup is applying the project config, but this fails with the SQL error below. Removing the `reasons_conditionals` fo

[2020-09-21 22:44] mmikkel commented on #45
Hi @wallacio, thanks for reporting.

Any chance I could get access to 1) an SQL dump from the environment where this issue occurs and 2) a copy of the `config/project` folder from your repo?

DM me on Discord (@mmikkel) or send me an email (mail@mmikkel.no) if need be.